/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

.env
.env.backup
.env.production
.env.production.local

.phpactor.json
.phpunit.result.cache
.phpunit.cache

*.log
npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db

/.fleet
/.idea
/.nova
/.junie
/.cursor
/.claude
CLAUDE.md
boost.json
.mcp.json
/.phpunit.cache
/.vscode
/.zed
/.vagrant

/auth.json
Homestead.json
Homestead.yaml
